# Database
DATABASE_URL=postgresql+psycopg2://rumofe@localhost:5432/tfg_carteras
POSTGRES_USER=rumofe
POSTGRES_PASSWORD=
POSTGRES_DB=tfg_carteras

# Security
SECRET_KEY=changeme
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# External APIs
YFINANCE_ENABLED=true
ALPHA_VANTAGE_API_KEY=
